<!doctype html>
<html>
  <head>
    <title>Slopes Sandbox</title>
    <meta charset="UTF-8" />
  </head>
  <body>
      <p>Test</p>
    <div id="game"></div>
    <script src="https://cdn.jsdelivr.net/npm/phaser-ce@2.16.2/build/phaser.min.js"></script>
    <script src="/src/phaser-arcade-slopes.js"></script>
    <script type="module" src="/src/index.js"></script>
  </body>
</html>
